:root {
    --bleeding: 1.5cm;
    --margin: 0cm;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 ;
    padding: 0;
    background: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
  }
  
  .page {
    display: inline-block;
    position: relative;
    height: 297mm;
    width: 210mm;
    font-size: 12pt;
    margin: 2em auto;
    padding: 0;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    background: white;
  }
  
  @media screen {
    .page::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 3;
      height: 3;
      margin: 0;
      outline: thin dashed black;
      pointer-events: none;
      z-index: 9999;
    }
  }
  
  @media print {
    .page {
      margin: 0;
      overflow: hidden;
    }
  }
  .column {
    margin-top: -1cm;
    float: left;
    width:50%;
    padding: 10px;
    height: 22.5cm;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
h1{
    background-color: #175E92;
    height: 4cm;
    width: 19cm;
    padding: 50px;
    border-radius: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
    letter-spacing: 1px;
    font-size: 50px;
    margin: 2cm 1cm 2cm 1cm;
}
h2{
    background-color: #175E92; 
    margin: 0.1cm 1.5cm 0.2cm -0.8cm;
    padding:8px; 
    color: #ffff;
    border-radius: 100px 0 0 100px ;
    width: 11cm;
    height: 1.2cm;
    text-align: center;
    font-size: 27px;
}
p2{
    margin: 1cm 1.5cm 0 13cm;
    padding: 8px;
    
}

.iconDetails {
    margin: -0.5cm 0.5cm 0 0.5cm;
    float:left; 
    border-style: solid;
    border-color: #175E92;
    border-width: 7px;
    border-radius: 4cm;
    width: 5cm;
    height: 5cm;
} 
   
.container2 {
    width:7cm;
    height:7cm;
    padding:2%;
}
p{
    background-color: #175E92; 
    margin: 0.2cm 0 0 0;
    padding:7px; 
    color: #ffff;
    border-radius: 0 100px 100px 0;
    width: 7cm;
    height: 1.2cm;
    text-align: center;
    font-size: 27px;
    letter-spacing: 1px;
}
p1{
    margin: 0.2cm 0cm 0 0.4cm;
    padding-bottom: 1px;
    text-align: justify;
}
button{
    border-radius: 100px 100px 100px 100px;
    font-size: 14px;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin: 0.5cm 1cm 0.4cm 0.4cm;
}
li{
    text-align: justify;
    margin: 0.2cm 1cm 0 0.5cm;
    text-align: justify;
}
p2{
    margin: 0cm 0cm 0 1cm;
    padding-bottom: 2px;
    text-align: justify;
}
#progressbar {
    background-color: #175E92;
    border-radius: 10px;
    padding: 0.5px;
    max-width: 150px;
    position: relative;
  }
  #progressbar > div {
    background-color: #175E92;
    height: 8px;
    border-radius: 10px;
    max-width: 250px;
  }
  #progressbar span {
    position: absolute;
    margin:-0.1cm 0cm 0 4.2cm ;
    text-align: justify;
  }
  #progressbar-a {
    background-color: #CDCDCD;
    border-radius: 10px;
    padding: 0.5px;
    max-width: 150px;
    position: relative;
  }
  #progressbar-a > div {
    background-color: #175E92;
    height: 8px;
    border-radius: 10px;
    max-width: 250px;
  }
  #progressbar-a span {
    position: absolute;
    margin:-0.1cm 1cm 1cm 4.2cm ;
    text-align: justify;
  }
